.card-block{
    position: inherit;
}
.card-block video {
    position: relative;
    display: block;
    width: 100%;
}

.emotion-slider input {
    display: block !important;
    margin: 20px 0 20px 0;
    width: 100%;
}

input[type=range]{
    -webkit-appearance: none;
    background: none;
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: none;
}
.range-slider {
    -webkit-appearance: none;
    -moz-apperance: none;
    background: transparent;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-size: 45px 45px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-top: -20px;
    cursor: pointer;
    background: #ffcc00;
}

/* All the same stuff for Firefox */

.range-slider::-moz-range-thumb {
    background-size: 45px 45px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 12px;
    height: 45px;
    width: 45px;
    margin-top: -20px;
    cursor: pointer;
}

/* All the same stuff for IE */

.range-slider::-ms-thumb {
    background-size: 45px 45px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 12px;
    height: 45px;
    width: 45px;
    margin-top: -20px;
    cursor: pointer;
}

.range-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background: -webkit-linear-gradient(left, #ef1519 0%,#f2db30 50%,#6cc96c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ef1519 0%,#f2db30 50%,#6cc96c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

.range-slider::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

.range-slider::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

.range-slider::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.range-slider:focus::-ms-fill-lower {
    background: #3071a9;
}

.range-slider::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.range-slider:focus::-ms-fill-upper {
    background: #367ebd;
}

.base-slider::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    height: 15px;
    width: 15px;
    margin-top: -20px;
    background: none;
    cursor: pointer;
    border: none;
    background: transparent;
}

.emoji1::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #ef1519 !important;
    background-image: url("../../assets/img/1.webp") !important;
    background-size: 40px !important;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50% !important;
    height: 39px;
    width: 39px;
    margin-top: -20px;
    
}

.emoji3::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #ffcc00 !important;
    background-image: url("../../assets/img/3.webp") !important;
    background-size: 40px !important;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50% !important;
    height: 39px;
    width: 39px;
    margin-top: -20px;
    
}

.emoji4::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #6cc96c !important;
    background-image: url("../../assets/img/4.webp") !important;
    background-size: 40px !important;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50% !important;
    height: 39px;
    width: 39px;
    margin-top: -20px;
}