<div class="header-step">
    <a routerLink="/main/stepboard" class="btn-ctn">
        <span class="arrow"> ❮</span>Back</a>
</div>
<div class="step-container">
    <clr-stack-view>
        <clr-stack-header>
            Standart Services
        </clr-stack-header>
        <clr-stack-block #lazyBlock [clrSbExpandable]="true" *ngFor="let role of roles">
            <clr-stack-label>{{role.roleName}}</clr-stack-label>
            <clr-stack-content>P1 | P2 | Target</clr-stack-content>
            <clr-stack-block *ngFor="let child of (sopkeys|soproles:role.roleCode);let i = index" [class.banding]="i%2 === 0">
                <clr-stack-label>{{child.SOPDesc}}</clr-stack-label>
                <clr-stack-content>
                        <input type="checkbox" id="checkrads_1">&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" id="checkrads_1">&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" id="checkrads_1">&nbsp;&nbsp;&nbsp;
                </clr-stack-content>
            </clr-stack-block>
        </clr-stack-block>
    </clr-stack-view>

</div>