<app-header-step></app-header-step>
<div class="step-container">
  <div class="row flex-items-xs-center flex-items-xs-middle">
    <div class="col-xs-11">
      <div class="card">
        <div class="card-header">
          Team Reward
        </div>
        <div class="card-block">

          <div class="card-text">
            Rayakan segala usaha yang telah tim Anda wujudkan bersama untuk meningkatkan kualitas servis, temukan cara – cara kreatif
            untuk memberikan
            <i>reward</i> tanpa biaya, serta perayaan yang akan Anda nikmati bersama bilamana cabang berhasil mencapai target
            servisnya. Potret perubahan kualitas servis cabang Anda dari masa ke masa.
            <br/>
            <br/>
            <b>
              Silahkan unggah dokumentasi program
              <i>reward & recognition</i> dalam bentuk Pdf & foto dokumentasi pelaksanaan program
            </b>
            <pdf-viewer (after-load-complete)="afterLoadComplete($event)" [src]="pdfSrc" [show-all]="false" [render-text]="false" style="display: block;" [fit-to-page]="true" [(page)]="page"></pdf-viewer>
            <button class="btn btn-primary" style="float: left;" (click)="page=page-1" *ngIf="page>1">Sebelum</button>
            <span style="font-size: 9px; font-style: italic">Hal. {{page}} dari {{totalPages}}</span>
            <button class="btn btn-primary" style="float: right;" (click)="page=page+1" *ngIf="page<totalPages">Berikutnya</button>
            <br/>

            <br/>
            <div class="upload-btn-wrapper" *ngIf="empInfo.RolePlay === 'RL001'">
              <button class="btn-file" (click)="fileInput.click()">
                <clr-icon shape="file" class="is-solid" size="23"></clr-icon> Pilih Dokumen</button>
              <input type="file" accept="application/pdf" #fileInput name="myfile" (change)="readUrl($event)" />
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary btn-block"  *ngIf="empInfo.RolePlay === 'RL001'" (click)="submit(1)">Kirim</button>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Foto Dokumentasi
        </div>
        <div class="card-block">

          <div class="card-text">
            <b>
              Silahkan unggah foto-foto dokumentasi pelaksanaan program
            </b>
            <div class="upload-btn-wrapper"  *ngIf="empInfo.RolePlay === 'RL001'">
              <button class="btn-file" (click)="fileInput.click()">
                <clr-icon shape="image" class="is-solid" size="23"></clr-icon> Pilih Foto</button>
              <input type="file" accept="image/*" #fileInput name="myfile" (change)="readUrlImg($event)" multiple/>
            </div>
            <br/>
            <div class="loading-photo" *ngIf="loadedPhoto">
              <span class="spinner spinner-inline">
                Loading...
              </span>
              <span>
                Memuat Gambar...
              </span>
            </div>
            <app-carousel [banners]='imgs.length ? imgs : imgsSample'></app-carousel>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary btn-block"  *ngIf="empInfo.RolePlay === 'RL001'" (click)="submit(2)">Kirim</button>
        </div>
      </div>

    </div>

  </div>