<div class="header-step">
  <a routerLink="/main/stepboard" class="btn-ctn">
    <span class="arrow"> ❮</span>Kembali</a>
</div>
<div class="step-container">
  <div class="row flex-items-xs-center flex-items-xs-middle">
    <div class="col-xs-11">
      <div class="card">
        <div class="card-header">
          Team Reward
        </div>
        <div class="card-block">

          <div class="card-text">
            Rayakan segala usaha yang telah tim Anda wujudkan bersama untuk meningkatkan kualitas servis, temukan cara – cara kreatif
            untuk memberikan <i>reward</i> tanpa biaya, serta perayaan yang akan Anda nikmati bersama bilamana cabang berhasil mencapai
            target servisnya. Potret perubahan kualitas servis cabang Anda dari masa ke masa.
            <br/>
            <br/>
            <b>
              Silahkan unggah dokumentasi program <i>reward & recognition</i> dalam bentuk Pdf & foto dokumentasi pelaksanaan program
            </b>
            <pdf-viewer [src]="pdfSrc" [show-all]="false" [render-text]="false" style="display: block;" [fit-to-page]="true" [(page)]="page"></pdf-viewer>
            <button class="btn btn-primary" style="float: left;" (click)="page=page-1" *ngIf="page>1">Sebelum</button>
            <button class="btn btn-primary" style="float: right;" (click)="page=page+1">Berikutnya</button>
            <br/>

            <br/>
            <div class="upload-btn-wrapper">
              <button class="btn-file" (click)="fileInput.click()">
                <clr-icon shape="file" class="is-solid" size="23"></clr-icon> Pilih Dokumen</button>
              <input type="file" accept="application/pdf" #fileInput name="myfile" (change)="readUrl($event)" />
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary btn-block">Kirim</button>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Foto Dokumentasi
        </div>
        <div class="card-block">

          <div class="card-text">
            <b>
              Silahkan unggah foto dokumentasi pelaksanaan program
            </b>
            <div class="upload-btn-wrapper">
              <button class="btn-file" (click)="fileInput.click()">
                <clr-icon shape="image" class="is-solid" size="23"></clr-icon> Pilih Foto</button>
              <input type="file" accept="image/*" #fileInput name="myfile" (change)="readUrlImg($event)" />
            </div>
            <br/>
            <ngu-carousel [inputs]="carouselBanner" (onMove)="onmoveFn($event)">
              <ngu-item NguCarouselItem class="bannerStyle" *ngFor="let img of imgs.length ? imgs : imgsSample">
                <h1>
                  <img [src]="img" alt="" title="winning team">
                </h1>
              </ngu-item>
              <button NguCarouselPrev class='directors leftRs'></button>
              <button NguCarouselNext class='directors rightRs'></button>
            </ngu-carousel>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary btn-block">Kirim</button>
        </div>
      </div>

    </div>

  </div>