.container-feedback{
    padding: 1%;
    border-radius: 1%;
    background: rgb(198, 234, 255);
}

.feedback-sender-info{
    font-size: 10px;
}
.feedback-sender{
    font-size: 12px;
    font-weight: bold;
}

.feedback-date{
    font-style: italic;
    font-size: 8px;
}