<clr-header class="header-1">
    <div class="branding">
        <a routerLink="/main/anchor" class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">Experd Serve</span>
        </a>
    </div>
    <div class="header-actions">
        <a routerLink="/main/login" class="nav-link nav-icon">
            <clr-icon shape="user"></clr-icon>
        </a>
    </div>
</clr-header>
<nav class="header-nav menus" [clr-nav-level]="1">
        <a routerLink="/main/login" class="nav-link" style="color:black;vertical-align: middle;">
            <clr-icon shape="login" size="18"></clr-icon> Login
        </a>
        <a routerLink="/main/login" class="nav-link" style="color:black;vertical-align: middle;">
            <clr-icon shape="phone-handset" class="is-solid" size="18"></clr-icon> Contact Us
        </a>
        <a routerLink="/main/login" class="nav-link" style="color:black;vertical-align: middle;">
            <clr-icon shape="help" class="is-solid" size="18"></clr-icon> Help
        </a>
</nav>