<clr-header class="header-1">
    <div class="branding">
        <a routerLink="/main/anchor" class="nav-link">
            <img src="assets/img/logo.png" alt="" title="exp-logo">
        </a>
    </div>
    <div class="header-actions">
        <a routerLink="/main/login" class="nav-link nav-icon">
            <clr-icon shape="user"></clr-icon>
        </a>
    </div>
</clr-header>
<div *ngIf="traffic" class="progress loop" style="background: #F5931E !important; font-size: 3px; position: absolute;"><progress></progress></div>
<nav class="header-nav menus" [clr-nav-level]="1">
        <a *ngIf="!isLogin" routerLink="/main/login" class="nav-link" style="color:black;vertical-align: middle;">
            <clr-icon shape="login" size="18"></clr-icon> Masuk
        </a>
        <a *ngIf="isLogin" routerLink="/main/stepboard" class="nav-link" style="color:black;vertical-align: middle;">
            <clr-icon shape="list" class="is-solid"></clr-icon> My Step Board
        </a>
        <a routerLink="/main/login" class="nav-link" style="color:black;vertical-align: middle;">
            <clr-icon shape="phone-handset" class="is-solid" size="18"></clr-icon> Hubungi Kami
        </a>
        <a routerLink="/main/login" class="nav-link" style="color:black;vertical-align: middle;">
            <clr-icon shape="help" class="is-solid" size="18"></clr-icon> Bantuan
        </a>
        <a *ngIf="isLogin" (click)="logout()" class="nav-link" style="color:black;vertical-align: middle;">
            <clr-icon shape="list" class="is-solid"></clr-icon> Keluar
        </a>
</nav>