.footer-container{
    color:#333;
    padding-top:0px;
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    height: 30px;
    bottom: 0;
    position: static;
    width: 100%;
    z-index: 0;
}