<ngu-carousel [inputs]="carouselBanner" (onMove)="onmoveFn($event)">
  <ngu-item NguCarouselItem class="bannerStyle">
    <h1>
      <img src="assets/img/banner-1.png" alt="" title="winning team">
    </h1>
  </ngu-item>
  <ngu-item NguCarouselItem class="bannerStyle">
    <h1>
      <img src="assets/img/banner-2.png" alt="" title="winning team">
    </h1>
  </ngu-item>
  <ngu-item NguCarouselItem class="bannerStyle">
    <h1>
      <img src="assets/img/banner-3.png" alt="" title="winning team">
    </h1>
  </ngu-item>
  <button NguCarouselPrev class='directors leftRs'></button>
  <button NguCarouselNext class='directors rightRs'></button>
</ngu-carousel>