<div class="landing-container">
  <!-- <video *ngIf="url" onclick="alert('')" autoplay
  preload="auto" id="landingVideo"
  class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9" controls
    width="640" height="264">
    <source [src]="url"  type="video/mp4" />
  </video> -->
  <app-carousel></app-carousel>
  <app-drawer></app-drawer>
  <div class="main-quote">
      Start Your Service Excellence Journey through <br/>“7 Steps”<br/>
      <br/>Guidance for you and your team to develop your service culture within organization
      
  </div>
  <div class="row flex-items-xs-center flex-items-xs-middle">
    <div class="col-xs-10" *ngFor="let item of items">
      <div class="card" id="{{item.name}}">
        <div class="card-header">
          {{item.name}}
        </div>
        <div class="card-block">
          <div class="card-text">
            {{item.desc}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
</div>