<app-header-step></app-header-step>
<div class="step-container">
    <div class="row flex-items-xs-center flex-items-xs-middle">
        <div class="col-xs-11">

            <div class="card">
                <div class="card-header">
                    Internship
                </div>
                <div class="card-block">
                    <!-- <div class="card-title">
                        Pendalaman rasa yang dimiliki oleh frontliners dalam perannya sehari-hari sebagai pejuang servis.
                    </div> -->
                    <div class="card-text">
                        Dalami rasa yang dimiliki oleh para Frontliners Anda dalam perannya sehari-hari sebagai pejuang servis.
                        <br/>
                        <br/>
                        <b>Silahkan berperan sebagai Customer Service, Teller dan Security ketika menghadapi nasabah di
                            <i>banking hall</i>.</b>
                        <br/>
                        <br/>
                        <div class="form-group">
                            <clr-dropdown [clrCloseMenuOnItemClick]="true">
                                <button type="button" class="dropdown-toggle btn btn-primary btn-block" clrDropdownTrigger>
                                    {{optionalRolePlay}}
                                    <clr-icon shape="user" class="is-solid" size="22"></clr-icon>
                                    <clr-icon shape="caret down"></clr-icon>
                                </button>
                                <clr-dropdown-menu *clrIfOpen>
                                    <div *ngFor="let role of roles">
                                        <button type="button" (click)="optionalRolePlay=role.RoleplayName" clrDropdownItem>{{role.RoleplayName}}</button>
                                    </div>
                                </clr-dropdown-menu>
                            </clr-dropdown>
                            <br/>
                            <div class="upload-btn-wrapper" *ngIf="optionalRolePlay!== 'Peran'">
                                <button class="btn-file" (click)="fileInput.click()">
                                    <clr-icon shape="video-camera" class="is-solid" size="23"></clr-icon> Unggah Video "Internship" Anda</button>
                                <input type="file" #fileInput name="internshipFile" (change)="readUrl($event)" accept="video/mp4" /> (Durasi Maks 5 Menit)
                            </div>

                            <br/>
                            <br/>
                            <div class="loading-video" *ngIf="loadedvideo">
                                <span class="spinner spinner-inline">
                                    Loading...
                                </span>
                                <span>
                                    Memuat Video Preview...
                                </span>
                            </div>
                            <video class="video-viewer" *ngIf="url" controls>
                                <source src="{{url}}" type="video/mp4">
                            </video>
                        </div>

                        <label class="required" for="text_opt" *ngIf="optionalRolePlay!== 'Peran'">
                            <b>Apa pembelajaran yang Anda dapat dari pengalaman
                                <i>Internship</i> Anda sebagai {{optionalRolePlay}}? </b>
                        </label>
                        <textarea id="text_opt" rows="2" *ngIf="optionalRolePlay!== 'Peran'" [(ngModel)]="longAnswer"></textarea>
                    </div>
                </div>
                <div class="card-footer">
                    <button *ngIf="optionalRolePlay!== 'Peran'" class="btn btn-primary btn-block" (click)="submit()">Kirim</button>
                </div>
            </div>
            <br/>
            <div class="card" *ngIf="internShipLatest">
                <div class="card-header">
                    Aktivitas Terakhir Anda Sebagai {{roleLastest}}
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <video crossorigin class="video-viewer" *ngIf="urlLastestVideo" controls>
                            <source [src]="urlLastestVideo" type="video/mp4" *ngIf="urlLastestVideo">
                        </video>
                        <textarea disabled="disabled" id="text_opt" rows="2" [(ngModel)]="this.internShipLatest.HighlightDesc"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<clr-modal [(clrModalOpen)]="finish" [clrModalSize]="'sm'" [clrModalClosable]="false">
    <h3 class="modal-title">Informasi</h3>
    <div class="modal-body">
      <p>Data Internship Anda Terkirim</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modalClose()">Ok</button>
    </div>
</clr-modal>