.board-container div {
  margin-top: 8px;
}

.btn {
  display: block;
  background: #F5931E;
  border: 0;
  height: 50px;
  padding: 0 0 0 1em;
  margin-bottom: 1em;
  outline: none;
  text-align: left;
  text-decoration: none;
  color: #fff;
  line-height: 50px;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 0px !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.btn .arrow {
  display: block;
  float: right;
  height: 50px;
  text-align: center;
  background: #084F8F;
  color: #fff;
  font-size: 1.5em;
  width: 2em;
  transition: margin 200ms;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn:hover .arrow {
  margin-left: 1.25em;
  background-color: #262626;
}
