<div class="board-container">
  <div class="row flex-items-xs-center flex-items-xs-middle">
    <div class="col-xs-10">
      <a href="#" class="btn"><clr-icon shape="flag" class="is-solid" size="24"></clr-icon> Step 1  <span class="arrow">❯</span></a>
      <a href="#" class="btn"><clr-icon shape="alarm-clock" class="is-solid" size="24"></clr-icon> Step 2  <span class="arrow">❯</span></a>
      <a href="#" class="btn"><clr-icon shape="volume-up" class="is-solid" size="24"></clr-icon> Step 3  <span class="arrow">❯</span></a>
      <a href="#" class="btn"><clr-icon shape="chat-bubble" class="is-solid" size="24"></clr-icon> Step 4  <span class="arrow">❯</span></a>
      <a href="#" class="btn"><clr-icon shape="lightbulb" class="is-solid" size="24"></clr-icon> Step 5  <span class="arrow">❯</span></a>
      <a href="#" class="btn"><clr-icon shape="coin-bag" class="is-solid" size="24"></clr-icon> Step 6  <span class="arrow">❯</span></a>
      <a href="#" class="btn"><clr-icon shape="collapse-card" class="is-solid" size="24"></clr-icon> Step 7  <span class="arrow">❯</span></a>
    </div>
  </div>
</div>