/* You can add global styles to this file, and also import other style files */
.btn-primary{
    color: #333 !important;
    border:none  !important;
    border-radius: 0px !important;
    background: #f09819 !important;
    background: -moz-linear-gradient(45deg, #f09819 0%, #edde5d 100%) !important;
    background: -webkit-linear-gradient(45deg, #f09819 0%, #edde5d 100%) !important;
    background: linear-gradient(45deg, #f09819 0%, #edde5d 100%) !important;
}

.btn-ctn {
    margin: 0 !important;
    padding: 0 !important;
    text-align: left;
    display: block;
    width: 100%;
    border: 0;
    height: 45px;
    outline: none;
    text-decoration: none;
    color: #333 !important;
    line-height: 45px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
  }
  
  .btn-ctn .arrow {
    display: block;
    float: left;
    height: 45px;
    text-align: center;
    background: transparent;
    color: #333;
    font-size: 1.5em;
    width: 1em;
    transition: margin 200ms;
  }

  .header-step {
    display: block;
    width: 100%;
    background: #f09819;
    background: -moz-linear-gradient(45deg, #f09819 0%, #edde5d 100%);
    background: -webkit-linear-gradient(45deg, #f09819 0%, #edde5d 100%);
    background: linear-gradient(45deg, #f09819 0%, #edde5d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09819', endColorstr='#edde5d', GradientType=1);
}

.step-container video {
    position: relative;
    display: block;
    width: 100%;
}

 .stack-view::before{
    content: none !important;
}

.stack-view .stack-children .stack-block-label{
    padding-left:1px !important;
    
}  
.stack-view .stack-children .stack-block-label::before{
    content: none !important;
    background: transparent !important;
}
.stack-view .stack-children .stack-block-content, .stack-view .stack-children .stack-block-label{
    background: transparent !important;
}

.stack-view{
    border: none !important;
}

.stack-header .stack-title{
    padding:0 !important;
}