<div class="header-step">
    <a routerLink="/main/stepboard" class="btn-ctn">
        <span class="arrow"> ❮</span>Kembali</a>
</div>
<div class="step-container">
    <div class="row flex-items-xs-center flex-items-xs-middle">
        <div class="col-xs-11">
            <div class="card">
                <div class="card-header">
                    Stay Tune
                </div>
                <div class="card-block">
                    <div class="card-text">
                    <b>SELAMAT!!</b> 
                        Cabang Anda telah mencapai langkah ketujuh, namun bukan berarti bahwa ini adalah akhir dari perjalanan. Berikut ini adalah
                        catatan mengenai hal-hal yang sudah baik dari perjalanan cabang Anda selama ini serta beberapa masukan
                        yang masih bisa ditingkatkan lagi dalam proses perbaikan selanjutnya.
                        <textarea id="text_opt" rows="10" [(ngModel)]="longAnswer" disabled>
                           
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>